<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBte3g2uEFZZZEFoC8Y6nc1WbBB7UJyCfY</string>
	<key>GCM_SENDER_ID</key>
	<string>442868986357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gemBook</string>
	<key>PROJECT_ID</key>
	<string>gem-book-y3-8df25</string>
	<key>STORAGE_BUCKET</key>
	<string>gem-book-y3-8df25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442868986357:ios:cb7dfee3d8a58d605630bc</string>
</dict>
</plist>